# Vim.
*.sw*

# OSX.
.DS_Store

# Npm modules.
/node_modules

# Node output.
npm-debug.log

# Vendored javascript modules.
test/vendor

# Build output.
build/
lib/w3hear.js
lib/w3hear.min.js
lib/w3hear.min.map
lib/sphinx/
test/js/
